
/* index.html */

/* Global CSS */

html {
    background-color: #FFF;
}

h4 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
}

p, li, form, .modal-title, .btn {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
}

ul {
    padding-inline-start: 0;			
}

li {
    display: inline-block;
    margin-right: 10px;		
}

a {
    text-decoration: none;
    text-align: center;
}



/* Custom CSS */

.left-panel {
    color: #FFF;
    background: linear-gradient(45deg, #5F3E3C,  #D81D1D) !important;
}

.profile-image {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 30px;
}

.inner-circle {
    border-radius: 50%;
    background: linear-gradient(45deg, #5F3E3C,  #E0D3D3);
    padding: 7px;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.outer-circle {
    border: 11px solid #743837;
    border-left-color:  #B41409;
    border-right-color: #743837;
}

.left-panel p {
    margin: 20px 45px 40px 45px;
}

.resume-button {
    border-radius: 3%;
    color: #FFF;
    background-color: #E21A0C;
	padding: 10px 25px;
}

.resume-button:hover {
   color: #060606;
   background-color: #FFF;
}

.resume-shadow {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.social-text {
    margin: 40px 20px 20px 20px;
}

.social-links {
    border-radius: 10%;
    background-color: #FCFCFC;
}

.social-shadow {
     box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.right-panel {
    background-color: #FFF;
    padding: 30px;
}

.right-panel h4 {
    border-bottom: 2px solid #060606;
    width: 420px;
}

.links {
    color: #060606;
}

.links:hover {
    text-decoration: underline;
}

.contact-links {
    color: #FFF;
}

.contact-links:hover {
    text-decoration: underline;
}

.btn {
    border: 1px solid #060606;
    color: #060606;
    background-color: #FFF;
    padding: 8px 25px;
}

.btn:hover {
    border: 1px solid #060606;
    color: #060606;
}

.footer-left {
    padding: 12px 1px 4px 1px;
}

.footer-bottom {
   display: none;
}



/* Media Queries */

@media only screen and (max-width: 1180px) {
    
    .left-panel p {
        margin: 20px 20px 40px 20px;
    }

  }

  @media only screen and (max-width: 1030px) {
    
    .left-panel p {
        margin: 20px 10px 40px 10px;
    }

  }

  @media only screen and (max-width: 968px) {
    
    .left-panel p {
        margin: 20px 8px 40px 8px;
    }

  }

  @media only screen and (max-width: 820px) {
    
    .profile-image {
        margin-left: 20px;
    }

    .social-links {
        height: 40px;
        width: 40px;
    }

  }

  @media only screen and (max-width: 767px) {

    .left-panel {
        color: #060606;
        background: #FFF !important;
    }

    .inner-circle {
        border-radius: 50%;
        background: linear-gradient(45deg, #FFF,  #A09B9B);
        padding: 7px;
        box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
    }

    .outer-circle {
        border: 11px solid #FFF;
        border-left-color:  #B41409;
        border-right-color: #FFF;
    }

    .resume-button {
        color: #FFF;
        background-color: #B41409;
	    padding: 10px 25px;
    }

    .resume-button:hover {
        color: #FFF;
        background-color: #B41409;
     }

    ul {
        padding-bottom: 25px;
    }

    .right-panel {
        display: none;
    }

    .project-padding {
        padding-bottom: 100px;
    }

    .contact-links {
        color: #0E0D0D;
    }
    
    .footer-text {
        text-align: center;
        color: #0E0D0D;
        background: #FFF;   
    }

    .footer-left {
        display: none;
    }

    .footer-bottom { 
        display: block;
        padding: 20px 10px 20px 10px;
        margin-bottom: 0;
    }

  }

  @media only screen and (max-width: 640px) {
    
    .left-panel p {
        margin: 20px 30px 40px 30px;
    }

    .right-panel h4 {
        width: 80vw;
    }

  }





  /* thankyou.html */

  /* Custom CSS */

  .messages {
    height: 100vh;
    color: #FFF;
    background: linear-gradient(45deg, #5F3E3C,  #D81D1D) !important;
    margin: 0;
 }

  .messages h4 {
    padding-top: 100px;
    padding-bottom: 15px;
 }


 /* Media Queries */

  @media only screen and (max-width: 767px) {

  .messages {
    height: 100vh;
    color: #0E0D0D;
    background: #FFF !important;
    margin: 0;
  }

}

